html{
    min-height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}

ul, li{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

.bold{
    font-weight: bold;
}

.header{
    padding: 20px 0;
    background: #000;
    margin-bottom: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.header-text{
    color: #fff;
}

.header-button{
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    background: #fff;
    border-radius: 10px;
}

.main{
    flex-grow: 1;
}

.main-text{
    font-size: 30px;
    text-align: center;
}

.footer{
    padding: 20px;
    background:#000;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text{
    text-align: center;
    color: #fff;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h2{
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 5px;
}

input{
    padding: 10px 15px;
    margin-bottom: 5px;
    max-width: 100%;
}

.input_submit{
    background: #54ad54;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
}

.user-login{
    color: #fff;
}

.some{
    font-size: 22px;
    margin-bottom: 10px;
}

.module{
    padding: 10px 7px;
    background: #E0E0E0;
    border-left: 15px solid green;
    margin-bottom: 10px;
}

.module-number{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.submodule{
    margin-left: 30px;
}

.text-progress{
    text-transform: uppercase;
    margin-left: 8px;
}

.header-special{
    margin: 0;
}

.special-container{
    display: flex;
    justify-content: space-between;
    min-height: 100%;
}

.left{
    width: 20%;
    background: #000;
    color: white;
    min-height: 85vh;
    padding: 10px 30px;
}

.left_module_name, .left_themes_name{
    border-left: 3px solid green;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    padding-left: 5px;   
}

.left_themes_name{
    margin-left: 20px;
}

.right{
    width: 80%;
}

.right-container{
    padding: 15px 20px;
}

.lecture-progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lecture-progress-item{
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    width: 16.666%;
    background: #E0E0E0;
    display: flex;
    justify-content: center;
}

.lecture-progress-item-active{
    background: grey;
}

.lecture-info{
    margin-bottom: 20px;
}

.button-next-container{
    display: flex;
    justify-content: center;
}

.button-next{
    padding: 10px 15px;
    text-decoration: none;
    background: #54ad54;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
}

.button-unactive{
    display: none;
}

.lecture-info{
    font-size: 18px;
}

.form_send{
    margin-bottom: 10
}

